<% if @sing == nil %>
  <% if @bocker %>
      <% @bocker.each do |bok|%>
          <h2> <a href="/bocker/index/<%=bok['id']%>"><%= bok['name'] %></a></h2>
      <% end%>
    <p><a href="/bocker/index">Show me all bocker!</a></p>
     <button type='submit'>
    <p><a href="/bocker/new">Add another book</a></p> </button> </form>
  <% else %>
    <p>No books found.</p>
  <% end %>
<% else %>
  <% if @bocker %>
      <% @bocker.each do |bok|%>
          <h2> <%= bok['name'] %> </h2>
          <p>Author: <%= bok['Author'] %></p>
          <p>Description: <%= bok['description'] %></p>
          <p><a href="/comments/new">Add your comment and rating of the book!</a></p>
      <% end%>
    <p><a href="/bocker/index">Show me all bocker!</a></p>
  <% else %>
    <p>No books found.</p>
  <% end %>
<% end %>